<h2>Plots:</h2>

<% @plots.each do |plot| %>
  <section id='plot-<%= plot.number %>'>
    <h3> Plot #<%= plot.number %>'s plants:</h3>
    <ul>
      <% plot.plants.each do |plant| %>
      <li id='plant-<%= plant.id %>'><%= plant.name %> <%= link_to "Remove plant", plot_plant_path(plot.id, plant.id), method: :delete %></li>
      <% end %>
    </ul>
  </section>
<% end %>
